.card {
    perspective: 1500rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;

    &__side {
        
        color: #fff;
        height: 50rem;
        font-size: 2rem;

        transition: all 2s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-Dark, .15);

        &--front {
            background-color: #fff;
            
        }

        &--back {
            background-color: orangered;
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg); // using a -ne angle will inverse the direction of rotation
    }
    
    &:hover &__side--back {
        transform: rotateY(0);
    }


    // front side styling
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;

        &--1 {
            background-color:linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
             url(../img/nat-5.JPG);
        }

        &--2 {
            background-image: url(../img/nat-5.JPG);
        }

        &--3 {
            background-image: url(../img/nat-5.JPG);
        }
    }

}




